@page "/profil/create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create Profil" prof="@prof"
      OnValidSubmit="@CreateProfil" />
@code {
    Profil prof = new Profil();
    async Task CreateProfil()
    {
        await http.PostAsJsonAsync("api/profil", prof);
        uriHelper.NavigateTo("profil");
    }
}