@page "/profil/edit/{profilId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Edit</h3>
<Form ButtonText="Update" prof="prof"
      OnValidSubmit="@EditProfil" />
@code {
    [Parameter] public int profilId { get; set; }
    Profil prof = new Profil();
    protected async override Task OnParametersSetAsync()
    {
        prof = await http.GetFromJsonAsync<Profil>($"api/profil/{profilId}");
    }
    async Task EditProfil()
    {
        await http.PutAsJsonAsync("api/profil", prof);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("profil");
    }
}