@page "/"
@inject Service.LessonDefinitionBackendAccessService LessonDefinitionService
@inject NavigationManager navigation

<h1>StepUp</h1>

<a class="btn-link" href="http://www.google.de>" Learn and Help!</a>

@{
    var numRequests = 3;
}


@if (Lessons?.Length > 0)
{
    @foreach (var lesson in Lessons)
    {
        <div class="">
            <button class="btn btn-primary" @onclick="() => NavigateToLesson(lesson)">
                @(lesson.lessonTitle)
            </button>
        </div>
    }
}





@code {
    public SEIIApp.Shared.DomainTdo.LessonDefinitionDto[] Lessons { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Lessons = await LessonDefinitionService.GetLessonOverview();
        await base.OnParametersSetAsync();
    }

    private void NavigateToLesson(SEIIApp.Shared.DomainTdo.LessonDefinitionDto lesson)
    {
        navigation.NavigateTo("/lesson/" + lesson.lessonNumber);
    }
}
