@page "/"
@inject Service.LessonDefinitionBackendAccessService LessonDefinitionService
@inject NavigationManager navigation

<h1 class="h1-jul">StepUp</h1>

<h2>Learn and Help!</h2>

@{
    var numRequests = 3;
}

<div class="helpingHand">
    <button type="button" class="btn btn-primary btn-helping-hand" @onclick="() => GotoMessagePage()">
        <i class="far-helping-hand far fa-hand-paper"></i>
        @numRequests
    </button>
</div>

@if (Lessons?.Length > 0)
{
    @foreach (var lesson in Lessons)
    {
<div class="">
    @*<button class="btn btn-dark" style="width:400px; border-radius:20px; padding:10px 10px 10px 10px; margin-bottom:10px;" @onclick="() => NavigateToLesson(lesson)">
    *@    <button class="btn btn-dark btn-julia" @onclick="() => NavigateToLesson(lesson)">
    @(lesson.lessonNumber) @(lesson.lessonTitle)
    </button>
</div>
    }
}





@code {
    public SEIIApp.Shared.DomainTdo.LessonDefinitionDto[] Lessons { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Lessons = await LessonDefinitionService.GetLessonOverview();
        await base.OnParametersSetAsync();
    }

    private void NavigateToLesson(SEIIApp.Shared.DomainTdo.LessonDefinitionDto lesson)
    {
        navigation.NavigateTo("/lesson/" + lesson.lessonNumber);
    }

    private void GotoMessagePage()
    {
        navigation.NavigateTo("/Messages/");
    }
}
