@page "/Lesson/1"

@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@inject HttpClient http

<div class="helpingHand">
    <button type="button" class="btn btn-outline-primary">
        <i class="far fa-hand-paper"></i>
    </button>
</div>

@code {
}
