@page "/Lesson/1"

@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@inject HttpClient http

<div class="helpingHand">
    <button type="button" class="btn btn-outline-primary">
        <i class="far fa-hand-paper"></i>
    </button>
</div>

@*<div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-outline-primary" data-toggle="true" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="far fa-hand-paper"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="'accordion">
                <div class="card-body">
                    jfadskljflkdjasklfjkldjasdlöfjklödsajlkf
                </div>
            </div>
        </div>
    </div>*@



@code {
}
