@page "/Lesson/1"

@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@inject HttpClient http

<div class="helpingHand">
    <button type="button" class="btn btn-primary btn-helping-hand" >
        <i class="far-helping-hand far fa-hand-paper"></i>
    </button>
</div>

@code {
}
