@page "/MessageToNuru"
@inject Service.LessonDefinitionBackendAccessService LessonDefinitionService
@inject NavigationManager navigation

    <h1 class="display-4" style="color: rgb(7, 88, 50);">Ask Nuru for help for lesson 1!</h1>
    
    

    <div class="container float-left">
        <div class="float-right">
            <img src="css\images\Nuru.png" alt="Nuru" class="rounded-circle" height="65" />
        </div>
        <form action="/action_page.php">
            <!--TODO: Korrekte Aktion hinterlegen-->
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" rows="5" id="message"></textarea>
            </div>
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>