@page "/"

@inject NavigationManager navigation
<!---------------TOP RIGHT BUTTONS----------->
<div class="float-right" >
    <button type="button" class="btn btn-outline-success"@onclick="showRegistrationForm">
        <i>Register</i>
    </button>
    <button type="button" class="btn btn-outline-success" @onclick="showLoginForm">
        <i>LogIn</i>
    </button>
</div>


@if (_currentUserStatus == _userStatus.REGISTRATION)
{<!---------------REGISTRATION FORM----------->
    <div class="form-box">
        <div class="l-form">
            <form class="profileForm" action="/" method="post">
                <h1 class="display-4 step-up-color">Register</h1>
                <div style="padding-top:20px; padding-bottom:10px;">
                    <div class="form__div">
                        <input type="text" class="form__input" placeholder="First Name" />
                        <label for="" class="form__label">First Name</label>
                    </div>

                    <div class="form__div">
                        <input type="text" class="form__input" placeholder="Last Name" />
                        <label for="" class="form__label">Last Name</label>
                    </div>

                    <div class="form__div">
                        <input type="text" class="form__input" placeholder="Email" />
                        <label for="" class="form__label">Email</label>
                    </div>

                    <div class="form__div">
                        <input type="password" class="form__input" placeholder="Password" />
                        <label for="" class="form__label">Password</label>
                    </div>

                    <div class="form__div">
                        <input type="password" class="form__input" placeholder="Repeat Password" />
                        <label for="" class="form__label">Repeat Password</label>
                    </div>
                </div>
                
                <input type="submit" class="btn btn-dark" value="Sign In" />
            </form>
        </div>
    </div>
}

@if(_currentUserStatus == _userStatus.LOGGED_OUT)
{ <!---------------LOGIN FORM----------->
    <div class="form-box">
        <div class="l-form">
            <form class="profileForm" action="/" method="post">
                <h1 class="display-4 step-up-color">Login</h1>

                <div style="padding-top:20px; padding-bottom:10px;">
                    <div class="form__div">
                        <input type="text" class="form__input" placeholder="Email" @bind="email" />
                        <label for="" class="form__label">E-Mail</label>
                    </div>

                    <div class="form__div">
                        <input type="text" class="form__input" placeholder="Password" />
                        <label for="" class="form__label">Password</label>
                    </div>
                </div>
                @*<input class="form__button" value="Sign In" @onclick="NavigateToHome" />*@
                <button type="button" class="btn btn-dark" style="" @onclick="performLogin">
                    Submit
                </button>
            </form>
        </div>
    </div>

}

@code {

    private string email;

    public string Email { get; set; }

    private enum _userStatus
        {
            LOGGED_OUT,
            LOGGED_IN,
            REGISTRATION,
            REGISTRATION_SUCCESSFUL
        }

    private _userStatus _currentUserStatus = _userStatus.LOGGED_OUT;

    @*public void RegisterOrLogin()
    {
        change = !change;
    }*@

    private void showLoginForm()
    {
        _currentUserStatus = _userStatus.LOGGED_OUT;
    }

    private void showRegistrationForm()
    {
        _currentUserStatus = _userStatus.REGISTRATION;
    }

    public void performLogin()
    {
        @*TODO: Check login data against database*@
        _currentUserStatus = _userStatus.LOGGED_IN;
        navigation.NavigateTo("/home");
    }
}
