@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #1861ac;
}

/*all adjustments for selfmade buttons*/
/*--------- Helping-Hand-Button ----------*/
.helpingHand {
    float: right;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-helping-hand {
    height: 65px;
    width: 65px;
    position: relative;
    margin: auto;
    transition: 0.5s;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 60px;
}

.btn-helping-hand:hover {
    background-color: rgba(124, 252, 0, 0.50);
    border-color: rgba(0, 0, 0, 0);
}

.btn-helping-hand:focus {
    background-color: rgba(124, 252, 0, 0.50);
    border-color: lawngreen;
}

.btn-helping-hand:focus > .far-helping-hand {
    color: white;
}

.far-helping-hand {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: rgba(124, 252, 0, 1);
}
/*----------------------------------------*/

/*------------- User-Button --------------*/
.createProfile {
    float: right;
}

.fas-user {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(124, 252, 0, 1);
}

.btn-user {
    height: 65px;
    width: 65px;
    position: relative;
    margin: auto;
    transition: 0.5s;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 60px;
}

.btn-user:hover {
    background-color: rgba(124, 252, 0, 0.50);
    border-color: rgba(0, 0, 0, 0);
}

.btn-user:focus {
    background-color: rgba(124, 252, 0, 0.50);
    border-color: lawngreen;
}

.btn-user:focus > .fas-user {
    color: white;
}
/*----------------------------------------*/

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
