@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root {
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCDA;
    --body-font: 'Segoe UI', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
    --step-up-darkgreen: rgb(7, 88, 50);
    --step-up-lightgreen: rgb(226 235 230);

}

html, body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: rgb(226 235 230);
}



.step-up-color {
    color: rgb(7, 88, 50) !important;
}
.step-up-dark-background {
    background-color: rgb(7, 88, 50) !important;
}

a, .btn-link {
    color: #0366d6;
}

.btn-lesson {
    min-width: 350px;
    max-width: 600px;
}

.btn-dark {
    color:  lightgray;
    background-color: darkslategrey;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.btn-dark:hover {
    background-color: steelblue;
}

.btn-dark:focus {
    border-color: orange;
    border-width: 3px;
    box-shadow: none;
}

.btn-submit {
    background-color: darkslategrey;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.btn-submit:hover {
    background-color: lightblue;
    color: black;
}

.btn-envelope {
    background-color: transparent;
    border-color: darkgreen;
    border-style: none;
    border-width: 0px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.5s;
}

.btn-envelope:hover {
    background-color: transparent;
    color: steelblue !important;
    border-style:none;
    border-width:0px;
}

.btn-envelope:focus {
    background-color: transparent;
    color: orange !important;
    border-style: none !important;
    border-width: 0px !important;
    box-shadow:none;
}

.envelope-style {
    font-size:xx-large;
}
.envelope-style:focus {
    color: orange;
    border-color:none;
}

.user_icon{
    height:65px!important;
}

.name {
    color:darkslategrey;
    font-size:small;
    text-align:center;
}

.video-teamh {
    margin-top:20px;
    margin-bottom:20px;
}

.lesson-number-teamh {
    padding: 10px 10px 10px 10px;
    margin-right: 15px;
    border-radius: 50%;
    border-color: black;
    background-color: darkslategrey;
}
/*all adjustments for selfmade buttons*/
/*--------- Helping-Hand-Button ----------*/

.btn-helping-hand {
    height: 65px;
    /*width: 65px;*/
    position: relative;
    margin: auto;
    transition: 0.5s;
    border: 3px solid rgba(0, 0, 0, 0);
    color:darkgreen;
}

.helping-hand-teamh {
    
}

.btn-helping-hand:hover {
    background-color: rgba(124, 252, 0, 0.50);
    border-color: rgba(0, 0, 0, 0);
}

.btn-helping-hand:focus {
    background-color: rgba(124, 252, 0, 0.50);
    border-color: darkgreen;
}

.btn-helping-hand:focus > .far-helping-hand {
    color: white;
}

.far-helping-hand {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: rgba(124, 252, 0, 1);
}
/*----------------------------------------*/

/*-----------   HELPING HAND IN LESSONS ------------*/

.description {
    font-size:small;
}

.btn-add-helper {
    transition: 0.5s;
    background-color:transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 10px;
    border-color: darkgreen;
    margin-left: 10px;
    color:darkslategray;
}

.btn-add-helper:hover {
 
    background-color:mediumseagreen;
}
    
.btn-add-helper:active {
    background-color: darkgreen;
}


/*------------- User-Button --------------*/

.fas-user {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(124, 252, 0, 1);
}

.btn-user {
    width: 70px;
    position: relative;
    margin: 10px;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    background-color:transparent;
    transition-duration:0.5s;
}

.btn-user:hover {
     
    border: 1px solid rgb(7, 88, 50);
       
}

.dark_text {
    color: darkslategrey;
}

.width-40pc {
    width:40%;
}

.height-65px {
    height:65px;
    width: 65px;
}
/*----------------------------------------*/
/*All adjustments for pop-up-create-profile*/
.form-box {
    margin: 20px 0px 0px 0px;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.form-box::before, .form-box::after {
    box-sizing: border-box;
}

.green-box {
    margin: 20px 0px 0px 0px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .5);
    background: rgb(139 199 165);
}
.profile-img {
    max-width:500px;
    min-width:20px;
}

.profile-data-div {
    width:50%;
    float:left;
}

.profile-img-div {
    
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileForm {
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .5);
    background: rgb(139 199 165);
}

.profile-elements-width {
    max-width:300px;
}

.login-width {
    width: 360px;
}

.profiel-change-width {
    width:50%;
}

.form__title {
    font-weight: 400;
    margin-bottom: 3rem;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background-color: rgb(226 235 230);
    z-index: 1;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: transparent;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}
/*
.form__button {
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}
    */
.form__button {
    color: lightgray;
    background-color: darkslategrey;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.form__button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.form__input:focus + .form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.num-request-style{
    font-size:x-large;
}

.form__input:focus {
    border: 1.5px solid var(--first-color);
}
/*----------------------------------------*/
.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
