<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        @if (_actualNavNumber == 0)
        {
            <p>Home</p>
        }
        else if (_actualNavNumber == 1)
        {
            <p>Profile</p>
        }
        else if (_actualNavNumber == 2)
        {
            <p>Messages</p>
        }
        else if (_actualNavNumber == 3)
        {
            <p>RegisterLogin</p>
        }
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All" @onclick="() => ActualNavigation(0)">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="profile" @onclick="() => ActualNavigation(1)">
                <span class="oi fas fa-user" aria-hidden="true"></span> Profile
            </NavLink>
        </li>
    </ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="messages" @onclick="() => ActualNavigation(2)">
                <span class="fas fa-envelope" aria-hidden="true"></span> &nbsp; &nbsp; Messages
            </NavLink>
        </li>
    </ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="() => ActualNavigation(3)">
                <span class="fas fa-sign-out" aria-hidden="true"></span>Log Out
            </NavLink>
        </li>
    </ul>
</div>



@code {
    private int _actualNavNumber = 0;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ActualNavigation(int navNumber)
    {
        _actualNavNumber = navNumber;
    }
}
